# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts.bak

# Native
android/
ios/
*.orig.*

# Env / secrets
.env
.env.local
.env*.local

# Generated app assets (created by scripts/gen-assets.js on postinstall)
assets/*.png

# Misc
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.DS_Store
*.log
